<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../CSS/LazyLukPack.css">
    <link rel="stylesheet" href="../CSS/main.css">
    <script src="../JS/Bobatron.js"></script>
    <script src="../JS/Post.js"></script>
    <script>postId = "<%= post._id %>"</script>
    <title>Post by <%= post.author %></title>
</head>
<body>
<div class="app-window bobatron" Bt-Color="#ffffff" Bt-CM="1.3">
    <div class="horizontal-container window-header">
        <h3>Nanoblogger</h3>
    </div>
    <div class="horizontal-container" style="gap: 10px">
        <button class="bobatron" Bt-CM="0.5" id="delete">Delete</button>
    </div>
    <br>
    <div class="vertical-container" style="gap: 10px; max-width: 300px">
        <!-- Author Field -->
        <label for="author" style="font-weight: bold;">Author:</label>
        <input type="text" id="author" class="bobatron" Bt-CM="0.5" placeholder="Enter your name" required value="<%= post.author %>">

        <!-- Title Field -->
        <label for="title" style="font-weight: bold;">Title:</label>
        <input type="text" id="title" class="bobatron" Bt-CM="0.5" placeholder="Enter the post title" required value="<%= post.title %>">

        <!-- Content Field -->
        <label for="content" style="font-weight: bold;">Post Content:</label>
        <textarea id="content" class="bobatron" Bt-CM="0.5" placeholder="Write your post here..." rows="10" required><%= post.content %></textarea>

        <!-- Submit Button -->
        <button class="bobatron" Bt-CM="0.5" onclick="updatePost()">Update post</button>
    </div>
</div>
<div class="footer">
    <h5 style="text-align: center; color: #b081f5">SE-2331<br>Pavel Lukoyanov</h5>
</div>
</body>
</html>